# Google Sheets settings

GOOGLE_SERVICE_ACCOUNT_PATH=/Users/maniko/Recovery-Services-App/backend/credentials/service-account-key.json
GOOGLE_SPREADSHEET_ID=1U85mZmIjQB2U4IbvCS-iqGDVr7wMaxFOt4G-y54Dlwo

